# Jupyter Notebooks

* Los Jupyter Notebooks son una forma de ejecutar python de forma interactiva en celdas. 

* Cada celda puede tener código (code) o texto (markdown)

* Las celdas de código incluyen la salida justo abajo.

* Pueden crear nuevas celdas con '+' o usando atajos de teclado (ver help)

* Las celdas se ejecutan con el botón 'Run' o con 'shift+enter' / 'ctrl+enter'

In [ ]:
3 + 7

In [ ]:
print("Hola Mundo")

# Clase 1: Variables, tipos básicos, I/O básico

## Nombrando variables

* Una variable guarda un valor bajo un nombre
* Las variables se asignan con ‘=’ (__operador de asignación__)
* No es necesario especificar el tipo de variable

In [ ]:
x = 7

In [ ]:
x

* El nombre de la variable debe tener solo caracteres alfanuméricos o ‘_’ y no puede comenzar con un número
* No debe incluir acentos (á, ü, ñ, etc)
* Por consenso se usan solo minúsculas y ‘_’ en vez de espacios (snake_case)
* No usar nombres de variables o funciones predefinidas en Python (veremos algunos más adelante)

Nombres correctos:

In [ ]:
variable = 5
variable_2 = "Hola Mundo"
_mi_variable = 123

Nombres incorrectos:

In [ ]:
1_variable = 5

acentos o ñ: esta puede dar error dependiendo del dispositivo, no usar aunque no de error:

In [ ]:
inválida = 5
con_ñ = "esto tiene un caracter no estandar"

mayúsculas: esta no da error alguno pero no es correcto usarla (al menos en lo que cubre el curso)

In [ ]:
Mi_Variable = 123

nombres predefinidos: no da error pero ya no podremos usar la variable/función predefinida (veremos algunos más adelante)

## Comentarios

Los comentarios ayudan a explicar el código de forma que quien lo lea pueda entender lo que hace y nuestras decisiones

Podemos añadir comentarios con `#`, todo lo que venga despúes es parte del comentario y no se ejecuta
Ej:
```python
# definimos la variable numero que usaremos para ...
numero = 3 # es 3 porque ...
```

también podemos añadir comentarios extensos con tres comillas dobles:
```python
"""
Todo esto 
es un comentario
de varias líneas
"""
numero = 3
```

## Tipos de Variables

### Números

#### int:
* Representa un número entero
* Puede tener signo

In [ ]:
x = 0
numero = -12

#### float:
* Representa un número decimal
* No es exacto, el número de decimales está limitado por la precisión

In [ ]:
pi = 3.14
numero_decimal = -71.123

### Aritmética

#### Operadores aritméticos:
* suma: `+`
* resta: `-`
* multiplicación: `*`
* división: `/`
* potencia: `**`

Ejemplos:

In [ ]:
6 + 7

In [ ]:
5 + -3

In [ ]:
4.13 - 6.0

In [ ]:
3 * 2

In [ ]:
3 / 2

In [ ]:
3 ** 2

__Veamos un ejemplo con variables__

In [ ]:
a = 5
b = -3
c = a + b

¿cuánto vale `c`?

In [ ]:
c

__redefinir variables__

In [ ]:
a = 5
b = a
a = a + 2

¿cuánto valen `a` y `b`?

In [ ]:
a

In [ ]:
b

__operación aritmética + re-asignación__

Vimos que podemos hacer la operación `a = a + 2` si ya habíamos definido `a`. Podemos resumir esta operación como `a += 2`

In [ ]:
a = 5
a += 2

a

Lo mismo aplica a los otros operadores (`-=`, `*=`, `/=`, etc.)

In [ ]:
a = 5
a *= 2

a

#### Múltiples operaciones

La combinación de operaciones sigue las reglas del álgebra

In [ ]:
6 + 7 * 2

In [ ]:
6 + 7 * 2 ** 3

Se puede alterar el orden con paréntesis redondos `(` y `)`

In [ ]:
((6 + 7) * 2) ** 3

#### División con resto

Además existen dos operaciones que definen la división con resto

* división entera: `//` (división truncada)

In [ ]:
6 // 2

In [ ]:
7 // 2

* resto: `%`

In [ ]:
6 % 2

In [ ]:
7 % 2

### Texto

__str__ (string):
* Representa una cadena de texto
* Pueden contener todo tipo de caracteres
* Se generan con comillas dobles “ o simples ‘

In [ ]:
a = "Hola Mundo"
b = 'Python'

Más adelante veremos las propiedades de los string

### Conversión de tipos

Podemos convertir de un tipo a otro con las siguientes funciones

`int()`: 
* función que convierte a un int
* la entrada puede ser un float (se trunca) o un string que represente a un int

In [ ]:
int(3.14)

In [ ]:
int("3")

No puede ser un string que no represente a un int

In [ ]:
int("3.14")

`float()`: 
* función que convierte a un float
* la entrada puede ser un int o string que represente a un float o un int

In [ ]:
float(3)

In [ ]:
float("3.14")

In [ ]:
float("3")

`str()`:
* función que convierte a un string
* puede tener cualquier entrada

In [ ]:
str(3)

In [ ]:
str(3.14)

`type()`:
* función que entrega el tipo (clase) de variable

In [ ]:
type(3)

In [ ]:
type(3.14)

In [ ]:
type("Hola Mundo")

Esto es útil para saber de qué tipo es una variable que nosotros no hemos definido o para encontrar errores en nuestro programa

Como Python es un lenguaje dinámico podemos cambiar el tipo de una variable durante la ejecución

In [ ]:
a = 3
type(a)

In [ ]:
a = float(a)
type(a)

### Variables Lógicas (booleanas)

__bool__
* Representa una variable lógica
* Solo puede tomar dos valores `True` o `False`

In [ ]:
a = True
type(a)

__Operadores Lógicos__
* and: True si ambos son True
* or: True si al menos uno es True
* not: Invierte el valor

¿Cuál es el resultado de las siguientes operaciones lógicas?

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
False and False

In [ ]:
True or True

In [ ]:
True or False

In [ ]:
False or False

In [ ]:
not True

In [ ]:
not False

Podemos combinar operaciones usando paréntesis redondos

In [ ]:
not ((True and False) or True)

__Operaciones lógicas con otros tipos__

además de las operaciones lógicas booleanas podemos realizar operaciones lógicas con otros tipos de variables

Para varios tipos tenemos los siguientes operadores:
* `==` igual lógico: `True` si ambos contienen el mismo valor
* `!=` desigualdad lógica: `True` si ambos contienen valores distintos
* `<` / `>`: menor / mayor
* `<=` / `>=`: menor o igual/ mayor o igual

In [ ]:
a = 3
b = "Hola Mundo"

`==` igual lógico: `True` si ambos contienen el mismo valor

In [ ]:
a == 3

Puede haber igualdad entre un `float` y un `int` si son iguales hasta cierta precisión

In [ ]:
a == 3.0

In [ ]:
a == 3.00001

In [ ]:
a == 3.000000000000000000001

In [ ]:
b == "Hola Mundo"

Hay distinción de mayúsculas y minúsculas

In [ ]:
b == "hola mundo"

`!=` desigualdad lógica: `True` si ambos contienen valores distintos

In [ ]:
a != 3

In [ ]:
b != "python"

`<` / `>`: menor / mayor

In [ ]:
a

In [ ]:
a < 5

In [ ]:
a > 4

Podemos comparar con un intervalo usando dos veces el operador

In [ ]:
1 < a < 5

En el caso de strings se compara caracter a caracter en orden alfabético

In [ ]:
"a" < "b"

En este caso primero se comparan los primeros caracteres, luego los segundos, ...

In [ ]:
"aa" < "ab"

In [ ]:
"ba" > "ab"

`<=` / `>=`: menor o igual / mayor o igual

In [ ]:
a <= 5

In [ ]:
a <= 3

Además tenemos el operador `in` que verifica si el término de la izquierda se encuentra contenido en la secuencia de la derecha, podemos usarlo en strings

In [ ]:
b

In [ ]:
"o" in b

In [ ]:
"Hola" in b

In [ ]:
"python" in b

Podemos combinar operaciones con paréntesis y operadores boleanos

In [ ]:
(a < 5) and (b == "Hola Mundo")

## Input y Output (I/O) básico

`print()`
* Función de salida desde el programa al terminal
* Convierte la entrada a un string y lo muestra en el terminal

In [ ]:
print("Hola Mundo")

In [ ]:
a = 3.14
print(a)

a *=2
print(a)

Puede tomar varias entradas separadas por coma y las imprime separadas por espacios

In [ ]:
print("el valor de a es", a)

`input()`
* Función de entrada desde el terminal al programa
* Toda la entrada se convierte a un string
* Se queda esperando hasta recibir la entrada del usuario

In [ ]:
b = input()
print("el tipo de b es", type(b), "con valor", b)

* Además podemos mostrar un string (usa print internamente) usando `input("texto a mostrar")`
* Esto es útil para indicarle al usuario qué esperamos que ingrese
* Luego podemos convertir el string al tipo deseado

In [ ]:
b = input("ingrese un número entero: ")
b = int(b)
print("el tipo de b es", type(b), "con valor", b)

## Ejercicio

vamos a [Mimir](https://www.mimirhq.com/)!